<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>KUMATCH</title>
    <link rel="stylesheet" href="/static/css/index_style.css">
    <link rel="stylesheet" href="/static/css/menu_style.css">
    <link rel="stylesheet" href="/static/css/image_slide_index_style.css">
    <link rel="stylesheet" href="/static/css/slider_1.css">
    <link rel="stylesheet" href="/static/KU_B/font.css">
    <link rel="stylesheet" href="/static/KU_L/font.css">
    <link rel="stylesheet" href="/static/KU_M/font.css">

    <style media="screen">
      #board_img_1{
        width : 40px;
        margin : 10px;
      }
      #board_img_2{
        width : 40px;
        margin : 10px;
      }
      #board_img_3{
        width : 40px;
        margin : 10px;
      }
      #board_name1{
        position: absolute;
        left : 400px;
        top : 280px;
      }
      #line1{
        border-top-style : solid;
        border-color : #8B2331;
        margin-bottom : 15px;
      }
      h2{font-size : 35px}
      .text{
        display : none;
      }

      .container : hover .text{
        display : block;
      }

    </style>
  </head>
  <body>
    <header>
      <div id="grid">
        <div><img id="home_button" href="{% url 'user:main' %}" src="/static/img/CollogeSymbol.jpg" ></div>
        <div class="titletext"><h1><a href="{% url 'user:main' %}">KUMATCH</a></div></h1>
          {% if user.is_authenticated %}
          <div><br/>
          <span>{{ user.nname }}님 환영합니다.</span><br/>
              <a href="{% url 'user:logout' %}">로그아웃</a></div>
          {% else %}

              <div id="login_choice">
              <a href="{% url 'user:login' %}">로그인</a>
              <span id=login_or>또는</span>
              <a href="{% url 'user:signup' %}">회원가입</a>
        </div>

  {% endif %}
        <div><img id="menu_button" src="/static/img/list_icon.png"></div>
      </div>
    </header>

    <nav>
        <a href="#" class="is-current">매치현황</a>
        <a href="#">랭킹</a>
        <a href="#">알림터</a>
        <a href="{% url 'user:board_main' %}">커뮤니티</a>
        <a href="#">미정1</a>
      <div class="nav-underline"></div>
    </nav>
    <hr id=grid_line>



    <div class="board_main">
      <div class="aside_menu">
        <span><img id=board_img_1 src="/static/img/board_1.png"> <a href="{% url 'user:board_main' %}" style="font-size : 15px; position:relative; top:-20px; text-decoration-style:double; color : red;">팀 소개 게시판</a></span><br>
        <span><img id=board_img_2 src="/static/img/board_2.png"> <a href="board_2.html" style="font-size : 15px; position:relative; top:-20px; text-decoration : none; color : black;">인원 모집 게시판</a></span><br>
        <span><img id=board_img_3 src="/static/img/board_3.png"> <a href="board_3.html" style="font-size : 15px; position:relative; top:-20px; text-decoration : none; color : black;">사진 게시판</a></span><br>
        <span><img id=board_img_3 src="/static/img/board_3.png"> <a href="#" style="font-size : 15px; position:relative; top:-20px; text-decoration : none; color : black;">미정</a></span><br>
        <span><img id=board_img_3 src="/static/img/board_3.png"> <a href="#" style="font-size : 15px; position:relative; top:-20px; text-decoration : none; color : black;">미정</a></span>
      </div>
    </div>

  <div id="board_name1">
   <h2 style="  font-family: KorUL; color :#8B2331;">팀 소개 게시판</h2><br>
   <div id=line1> </div>
      <table border="1" width="800" align="center" cellspacing="0" >
        <thead>
        <tr>
          <th width="150" align="center" bgcolor="#FFF0F0"> 팀 명 </th>
          <th width="400" align="center" bgcolor="#FFF0F0"> 학과 / 동아리 </th>
          <th width="200" align="center" bgcolor="#FFF0F0"> 대표자 </th>
          <th width="200" align="center" bgcolor="#FFF0F0"> 인원수 </th>
        </tr>
      </thead>
      <tbody align = "center">
        {% if team_list %}
        {% for t in team_list %}
          <tr onclick="location.href='{% url 'teams:teamDet' t.id %}'">  <!-- 테이블 행 click 시 url 이동 -->
            <td>{{ t.t_name }}</td>
            <td>{{ t.t_major }}</td>
            <td>{{ t.t_captain }}</td>
            <td>{{ t.t_memCount }}</td>
          </tr>
        {% endfor %}
        {% else %}
			<tr></tr><td>Team: 0</td>
		{% endif %}
        </tbody>

    </table>
      <!-- 버튼 click 시 url 이동 -->
    <a href="{% url 'teams:reg' %}" ><button class="btn btn-primary" type="button" >신규 팀 등록</button></a>
  </div>

  <div class= "container">
    <p class = "title">page1</p>
    <p class = "text">text</p>
  </div>





  </body>
</html>
