<!DOCTYPE html>

<html>
	<head>
		<meat http-equiv="content-Type" content="text/html"; charset=UTF-8>
		<title>선수 정보 수정</title>
	</head>
	<body>
		<p>Modify Player</p>

		{% if player_info %}
			<form action="{% url 'players:modCon' %}" method="post">
				{% csrf_token %}
				아이디 : <input type="text" name="pid" value={{player_info.p_pid}}></br>
				닉네임 : <input type="text" name="nick" value={{player_info.p_nick}}></br>
				이메일 : <input type="text" name="email" value={{player_info.p_email}}></br>
				이름 : <input type="text" name="name" value={{player_info.p_name}}></br>
				생년월일 : <input type="text" name="birth" value={{player_info.p_birth}}></br>
				포지션 : <input type="text" name="position" value={{player_info.p_position}}></br>
				소속팀 : <input type="text" name="team" value={{player_info.p_team}}></br>
				<input type="submit" name="Modify" value="수정"></br>
			</form>

		{% else %}
			<p>player: 0</p>
		{% endif %}
		
	</body>
</html>