{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>login</title>
  <link rel="stylesheet" href="{% static 'css/basic_layout_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
  <link rel="stylesheet" href="{% static 'KU_B/font.css' %}">
  <link rel="stylesheet" href="{% static 'KU_L/font.css' %}">
  <link rel="stylesheet" href="{% static 'KU_M/font.css' %}">

</head>

<body>
    <div class="wrapper_1">
      <header>
        <div id="grid_index">
        <a href="{% url 'user:main' %}"><img id="home_button" src="/static/img/CollogeSymbol.jpg" href="{% url 'user:main' %}"></a>
        <div class="titletext"><h1><a href="{% url 'user:main' %}" style="text-decoration: none;color: #8B2331;">KUMATCH</a></h1></div>
        {% if user.is_authenticated %}
        <div><br/>
        <span>{{ user.nname }}님 환영합니다.</span><br/>
        <a href="{% url 'user:logout' %}">로그아웃</a></div>
        {% else %}

        <div id="login_choice">
        <a href="{% url 'user:login' %}">로그인</a>
        <span id=login_or>또는</span><a href="{% url 'user:signup' %}">회원가입</a>
        </div>

        {% endif %}
        <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img id="menu_button" src="/static/img/personal_settings.png"></span>
        </div>
      </header>

  <nav id="grid_login">
    <img id="aside_img_login" src="/static/img/football.jpg">
    <div class="login_box">
      <div class="login_phr">
        <span style="font-weight:light;color:#555559;">축구하고 싶을 땐!</span><br>
        <span style="font-family:KorUB;font-weight:bold;color:#8B2331;">KUMATCH</span>
      </div>
      <div class="login_inbox">
        <form action="#" method="post">
          {% csrf_token %}
          <div>
            <label style="font-size:15px;">ID</label><br>
            <input type="text" id="username" name="username" placeholder="UserID" style="font-size:15px;"><br><br><br>
          </div>
          <div>
            <label style="font-size:15px;">비밀번호</label><br>
            <input type="password" id="password"name="password" placeholder="PW"><br><br><br><br>
          </div>
          <input type="submit" name="login_button" id="login_button" value="로그인"><br><br><br>
      </form>
      </div>
      <div class="login_bottom_box">
        <table width="430" align ="center">
          <tr>
            <td>비밀번호가 기억나지 않으신가요?</td>
            <td align="center"><a href="{% url 'user:main' %}"><input type="button" name="find_pw" id="find_pw" value="비밀번호 찾기"></a></td>
          </tr>

          <tr>
            <td>아직 회원이 아니신가요?</td>
            <td align="center"><a href="{% url 'user:signup' %}"><input type="button" name="sign_up" id="sign_up" value="회원 가입"></a></td>
          </tr>
        </table>
      </div>
    </div>
  </nav>

  <aside>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br><br><br>
          <div id="match_condition"><a href="{% url 'match:my_matlst' %}"><img id="football_img" src="/static/img/football.png">  나의 경기 현황</a></div><br><br>
          <div id="modify_my_info"><a href="#"><img id="settings_img" src="/static/img/settings.png">  정보 수정</a></div><br><br>
          <div id="manage_team"><a href="{% url 'players:playerAll' %}"><img id="team_img" src="/static/img/team.png">  팀 관리</a></div><br><br>
          <div id="sns"><a href="https://www.instagram.com/" target="_blank"><img id="instagram_img" src="/static/img/instagram.png"></a>
                        <a href="https://www.facebook.com/" target="_blank"><img id="facebook_img" src="/static/img/facebook.png"></a></div>
          <div id="logo" style="text-align:center; font-family:KorUB; font-size:40px; color:#8B2331;">KUMATCH</a>
        </div>

        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
       </div>
      </aside>
</div>

  <footer>
    <br><br>
    <span>[30019] 세종특별자치시 세종로 2511 고려대학교 세종캠퍼스</span>
    <span> T. 044-860-1114</span>
    <span> F. 044-860-1048</span>
      <p style="color:#C7B9AB;">Copyright ⓒ <span style="color:#FF661B;">KOREA University Sejong Campus</span> All Rights Reserved</p>
  </footer>


<!--
  <div class="login_box">
    <!--login 화면
    {% if user.is_authenticated %}
    로그인 성공!
    {{ user.username }}님 환영합니다.

    <a href="{% url 'user:logout' %}">로그아웃</a>
    {% else %}-->
<!--  <div class="exp1">
      <h2>축구하고 싶을 땐</h2>
      <h2 class=login_title_text>KUMATCH</h2>
    </div>
    <div class="login_inbox">
      <div class="login_idpw">
        <label>ID 또는 이메일</label><br>
        <form action="" method="POST">
          <!--{% csrf_token %}-->
  <!--        <input type="text" name="username" value="" size = "30px"><br><br>
          PW : <br>
          <input type="password" name="password" value="" size = "30px">
      </div>
        <input id="login_but" type="submit" name="login_button" value="로그인">
        </form>
      <!--{% endif %}-->
  <!--   </div>

     <div class="pw_forget" >
      <span style="text-align=center;"><a href="#">비밀번호가 생각나지 않으세요?</a><br></span>
      <span style="text-align=center;"><a href="sign_up.html">아이디가 없다면 여기에서 가입하세요</a></span>
     </div>
  </div>-->

</body>

</html>
