<!DOCTYPE html>

<html>
	<head>
		<meat http-equiv="content-Type" content="text/html"; charset=UTF-8>
		<title>등록된 선수 목록</title>
	</head>
	<body>
		<p>Read Player</p>

		{% if player_list %}
		<ol>
			{% for p in player_list %}
			<li>
				<a href="{% url 'players:playerDet' p.p_name %}">{{p.p_name}}</a>
				<a href="{% url 'players:playerMod' p.p_name %}">수정</a>
				<a href="{% url 'players:playerDel' p.p_name %}">삭제</a>
			</li>
			{% endfor %}
		</ol>
		{% else %}
			<p>Player: 0</p>
		{% endif %}
		</br>

		<a href="{% url 'players:reg' %}">선수 등록</a>
		</form>
	</body>
</html>