nav {
  position: relative;
  display: flex;
  width: 640px;
  margin: 1em auto;
  font-family: KorUL;
  font-size: 20px

}
nav a {
  display: block;
  width: 20%;
  padding: .75em 0;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.nav-underline {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 20%;
  height: 2px;
  background: #706258;
  transition: all .3s ease-in-out;
}
/*메뉴 언더바*/
nav a:nth-child(1).is-current ~ .nav-underline {
  left: 0;
}
nav a:nth-child(2).is-current ~ .nav-underline {
  left: 20%;
}
nav a:nth-child(3).is-current ~ .nav-underline {
  left: 40%;
}
nav a:nth-child(4).is-current ~ .nav-underline {
  left: 60%;
}
nav a:nth-child(5).is-current ~ .nav-underline {
  left: 80%;
}


nav a:nth-child(1):hover ~ .nav-underline {
  left: 0;
}
nav a:nth-child(2):hover ~ .nav-underline {
  left: 20%;
}
nav a:nth-child(3):hover ~ .nav-underline {
  left: 40%;
}
nav a:nth-child(4):hover ~ .nav-underline {
  left: 60%;
}
nav a:nth-child(5):hover ~ .nav-underline {
  left: 80%;
}
/* 메뉴 언더바 */

.aside_menu{
  position : relative;

  width : 20%;
  heigth : 600px;
  border-color : #8B2331;
  border-width : 2px;
  border-style : solid;
  padding : 5px;
  margin : 30px;
}
