{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>축구하고 싶을 땐! KUMATCH</title>
    <link rel="stylesheet" href="{% static 'css/basic_layout_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/image_slide_index_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider_1.css' %}">
    <link rel="stylesheet" href="{% static 'KU_B/font.css' %}">
    <link rel="stylesheet" href="{% static 'KU_L/font.css' %}">
    <link rel="stylesheet" href="{% static 'KU_M/font.css' %}">

    <style media="screen">
      #match_register{
        font-size : 20px;
        position : relative;
        left : 45.8%;
        color : blue;
        margin-top : 45px;
      }
    </style>
  </head>

  <body>
    <div class="wrapper_1">
      <header>
        <div id="grid_index">
        <a href="{% url 'user:main' %}"><img id="home_button" src="/static/img/CollogeSymbol.jpg" href="{% url 'user:main' %}"></a>
        <div class="titletext"><h1><a href="{% url 'user:main' %}" style="text-decoration: none;color: #8B2331;">KUMATCH</a></h1></div>
        {% if user.is_authenticated %}
        <div><br><br><br><br>
        <span>{{ user.nname }}님 환영합니다.</span><br/>
        <a href="{% url 'user:logout' %}">로그아웃</a></div>
        {% else %}

        <div id="login_choice">
        <a href="{% url 'user:login' %}">로그인</a>
        <span id=login_or>또는</span><a href="{% url 'user:signup' %}">회원가입</a>
        </div>

        {% endif %}
        <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img id="menu_button" src="/static/img/personal_settings.png"></span>
        </div>
      </header>

      <nav>
        <a href="{% url 'user:notice' %}">공지사항</a>
        <a href="{% url 'user:intro' %}" class="is-current">KUMATCH 소개</a>
        <a href="{% url 'teams:teamAll' %}">커뮤니티</a>
        <div class="nav-underline"></div>
      </nav>

      <aside>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br><br><br>
          <div id="match_condition"><a href="{% url 'match:my_matlst' %}"><img id="football_img" src="/static/img/football.png">  나의 경기 현황</a></div><br><br>
                  {% if user.is_authenticated %} <!-- 로그인 되어있으면 정보수정 창으로-->
          <div id="modify_my_info"><a href="{% url 'user:info' user.pk %}"><img id="settings_img" src="/static/img/settings.png">  정보 수정</a></div><br><br>
                  {% else %}
          <div id="modify_my_info"><a href="{% url 'user:login' %}"><img id="settings_img" src="/static/img/settings.png">  정보 수정</a></div><br><br>
                  {% endif %}
          <div id="manage_team"><a href="{% url 'players:playerAll' %}"><img id="team_img" src="/static/img/team.png">  팀 관리</a></div><br><br>
          <div id="sns"><a href="https://www.instagram.com/" target="_blank"><img id="instagram_img" src="/static/img/instagram.png"></a>
                        <a href="https://www.facebook.com/" target="_blank"><img id="facebook_img" src="/static/img/facebook.png"></a></div>
          <div id="logo" style="text-align:center; font-family:KorUB; font-size:40px; color:#8B2331;">KUMATCH</a>
        </div>

        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
       </div>
      </aside>
      <!--<img id=main_img src="img/practice.jpg">-->
      <div id="slide">    <!--사진 슬라이드 시작 -->
        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <input type="radio" name="pos" id="pos3">
        <input type="radio" name="pos" id="pos4">
        <ul>
          <li><image id="image1" src="/static/img\ball.jpg"></li>
          <li><image id="image2" src="/static/img\wg.jpg"></li>
          <li><image id="image3" src="/static/img\practice.jpg"></li>
          <li><image id="image4" src="/static/img\game.jpg"></li>
        </ul>
        <p class="pos">
          <label for="pos1"></label>
          <label for="pos2"></label>
          <label for="pos3"></label>
          <label for="pos4"></label>
        </p>
      </div>
      <br><br>

      <div id="calender">
        <section class="wrapper">
            <div class="slides">
              <article class="slide" data-index="1">
                  <h2 style="position : relative; left : 49%;">07/24&nbsp;&nbsp;금요일</h2>
                  <a href="{% url 'match:match_main' '0724' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="2">
                  <h2 style="position : relative; left : 49%; color : red;">07/25&nbsp;&nbsp;토요일</h2>
                  <a href="{% url 'match:match_main' '0725' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="3">
                  <h2 style="position : relative; left : 49%; color : red;">07/26&nbsp;&nbsp;일요일</h2>
                  <a href="{% url 'match:match_main' '0726' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="4">
                  <h2 style="position : relative; left : 49%;">07/27&nbsp;&nbsp;월요일</h2>
                  <a href="{% url 'match:match_main' '0727' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="5">
                  <h2 style="position : relative; left : 49%;">07/28&nbsp;&nbsp;화요일</h2>
                  <a href="{% url 'match:match_main' '0728' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="6">
                  <h2 style="position : relative; left : 49%;">07/29&nbsp;&nbsp;수요일</h2>
                  <a href="{% url 'match:match_main' '0729' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="7">
                  <h2 style="position : relative; left : 49%;">07/30&nbsp;&nbsp;목요일</h2>
                  <a href="{% url 'match:match_main' '0730' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="8">
                  <h2 style="position : relative; left : 49%;">07/31&nbsp;&nbsp;금요일</h2>
                  <a href="{% url 'match:match_main' '0731' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="9">
                  <h2 style="position : relative; left : 49%; color : red;">08/01&nbsp;&nbsp;토요일</h2>
                  <a href="{% url 'match:match_main' '0801' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="10">
                  <h2 style="position : relative; left : 49%; color : red;">08/02&nbsp;&nbsp;일요일</h2>
                  <a href="{% url 'match:match_main' '0802' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="11">
                  <h2 style="position : relative; left : 49%;">08/03&nbsp;&nbsp;월요일</h2>
                  <a href="{% url 'match:match_main' '0803' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
              <article class="slide" data-index="12">
                  <h2 style="position : relative; left : 49%;">08/04&nbsp;&nbsp;화요일</h2>
                  <a href="{% url 'match:match_main' '0804' %}" style="color : black; position : relative; left : 50%; text-decoration:none;">세부경기 확인하기</a>
              </article>
            </div>
            <button id="prev-btn">prev</button>
            <button id="next-btn">next</button>
            <span><a href="{% url 'match:reg_match' %}"><input type="button" id="match_register" name="match_register" value="매치 등록하기"></a></span>
        </section>
        <script src="/static/js/slide_1.js"></script></div>
      <div id="underline1"></div>


      </div>

    <footer>
      <br><br>
      <span>[30019] 세종특별자치시 세종로 2511 고려대학교 세종캠퍼스</span>
			<span> T. 044-860-1114</span>
			<span> F. 044-860-1048</span>
				<p style="color:#C7B9AB;">Copyright ⓒ <span style="color:#FF661B;">KOREA University Sejong Campus</span> All Rights Reserved</p>
    </footer>
  </body>
</html>

