<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" type="text/css" href="image_slide_index_styel.css"/>
</head>
<body>
<div id="slide">
  <input type="radio" name="pos" id="pos1" checked>
  <input type="radio" name="pos" id="pos2">
  <input type="radio" name="pos" id="pos3">
  <input type="radio" name="pos" id="pos4">
  <ul>
    <li><image id="image1" src="ball.jpg"></li>
    <li><image id="image2" src="wg.jpg"></li>
    <li><image id="image3" src="practice.jpg"></li>
    <li><image id="image4" src="game.jpg"></li>
  </ul>
  <p class="pos">
    <label for="pos1"></label>
    <label for="pos2"></label>
    <label for="pos3"></label>
    <label for="pos4"></label>
  </p>
</div>
</body>
</html>
