#grid_sign_up {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aside_img_sign_up {
  width: 58%;
  margin-top: 150px;
  margin-left: 145px;
}

.sign_up_box {
  margin-top: 70px;
  font-family: KorUL;
  border-left: 2px solid #C7B9AB;
  margin-bottom: 45px;
}

.sign_up_phr {
  font-size: 35px;
  padding-top:35px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.sign_up_inbox {
  padding-bottom: 50px;
  padding-left: 130  px;
  border: 1px solid black;
  border: 1px solid black;
}
table {
  font-family: KorUL;
  font-size: 15px;
  border-bottom: 1px solid #C7B9AB;
}

td {
  padding-top: 20px;
}

#username {
  width : 490px;
  height : 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
}

#password {
  width : 240px;
  height : 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
}

#con_pw {
  width : 240px;
  height : 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
}
#last_name, #first_name {
  width : 240px;
  height : 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
}

#nickname {
  width : 240px;
  height : 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
}

#mobile_num {
  width : 240px;
  height : 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
}

#gender {
  width : 245px;
  height : 45px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
  font-family: KorUB;
  font-size: 15px;
  color: #8B2331;
}

#birth_year, #birth_month, #birth_date {
  width: 162px;
  height : 45px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;
  font-family: KorUB;
  font-size: 15px;
  color: #8B2331;
}

.choice_position {
  text-align: center;
  border: 1px solid black;
  height: 45px;
  border-radius: 8px;
  vertical-align: middle;
}
#position {
  font-family: KorUL;
  font-size: 50px;
}

/*
#upload_id {
  border: 1px solid #555559;
  border-radius: 8px;
  height: 30px;
  vertical-align: middle;
}

#id_card {
  width: 200px;
  height: 35px;
} */

#id_num {
  width: 490px;
  height: 40px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #555559;

}

#agree_term {
  font-size: 15px;
  align: center;
}

#join {
  font-family: KorUM;
  font-size: 20px;
  color: #8B2331;
  background-color: #C7B9AB;
  width: 490px;
  height: 43px;
  border-radius: 8px;
  border-width: 0px;
  margin-bottom: 20px;
}

#none {
  text-decoration: underline;
  color: blue;
}

#go_login {
  text-decoration: underline;
  color: blue;
}

#if {
  position: relative;
  padding-top: 50px;
  margin-top: 50px;
  left: 28%;
}
