#grid_notification {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aside_img_notification {
  width: 58%;
  margin-top: 100px;
  margin-left: 145px;
  padding-bottom: 100px;
}

#center_line{
  border-left: 2px solid #C7B9AB;
  margin-top: 70px;
  margin-left : -50px;
  margin-bottom: 50px;
}

/*
.login_box {
  align: center;
  position: absolute;
  padding: 35px;
  border-color: yellow;
  border-style: solid;
  top: 140px;
  left: 280px;
}

.login_inbox{
  position: absolute;
  height: 300px;
  width: 70%;
  border-color: yellow;
  border-style: none;
  top: 80px;
  left: 120px;

}

.login_idpw{
  position: absolute;
  height: 120px;
  width: 60%;
  border-color: yellow;
  border-style: none;
  top: 80px;
  left: 100px;

}

#login_but{
  position: absolute;
  width : 150px;
  color : blue;
  height : 30px;
  top : 230px;
  left : 120px;
}

.pw_forget{
  position: absolute;
  top : 550px;
  left : 470px
}

h2{
  padding : 20px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.login_title_text{
  position : absolute;
  top : 40px;
  color : #E60E0E;
  font-size: 30px;

}
.a{
  text-decoration: none;
} */
