.a {
  text-decoration: none;
}

#grid_index {
  border-bottom: 2px solid #8B2331;
  display: grid;
  grid-template-columns: 400px 700px 210px 80px;
}

#home_button {
  width: 20%;
  padding-top: 30px;
  padding-left: 35px;
}

.titletext {
  text-align: center;
  font-color: #8B2331;
  font-family: KorUB;
  font-size:35px;
  font-weight: bold;
  padding-left:150px;
  padding-right: 250px;
}

/* #menu_img {
  position: absolute;
  right: 180px;
  width: 35px;
  height: 35px;
  padding: 35px;
}

#login {
  font-family:KorUL;
  font-size:25px;
  position: flex;
  padding-top: 100px;
  border: 1px solid black;
}

#login_or {
  color: black;
  font-size: 15px;
}

.login {
  color: #FF661B;
  font-weight: bold;
}

.login a {
  text-decoration: none;
}

#login_button {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 20px;
  height: 70px;
} */
#login_choice {
  font-family: KorUl;
  font-size: 23px;
  font-color: blue;
  font-weight: bold;
  padding-top: 90px;
}

#menu_button {
  width: 50%;
  padding-top: 80px;
  padding-left: 80px;
}


#main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
